apiVersion: v1
kind: Service
metadata:
  name: {{ include "k8s-test1.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
  selector:
    {{- include "k8s-test1.selectorLabels" . | nindent 4 }}
